*{
    box-sizing: border-box;
    background-color: #162530;
    margin: auto;
    color: bisque;
}

.about{
    margin-top: 10px;
}

.about img{
    height: 300px;
    width: 100%;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;

}
hr{
    width: 50%;
    height: 10px;
    background-color: rgb(199, 139, 28);
    border-radius: 5px ;
}
#deck{
    text-align: center;
    justify-content: center;
}

.about-us{
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
    
}

.containeer{
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;

}
@keyframes movedown{
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
     100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.containeer:nth-child(1){
    animation-delay: 0s;
}
.containeer:nth-child(2){
    animation-delay: 1s;
}
.containeer:nth-child(3){
    animation-delay: 2s;
}
.containeer:nth-child(4){
    animation-delay: 3s;
}

.role{
    padding: 2px 2px;
    background: #f7a205;
    position: relative;
    border-radius: 8px;
    font-size: 15px;
    font-family: Georgia;
}

.left-con{
    left: 0;
}

/* .schedule::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background:orange;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
} */
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.role{
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}

h1, h2, h3{
    color: white;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: sans-serif;
    padding: 10px 5px 10px 5px;
}

li{
    font-weight: 300;
    font-family: sans-serif;
    padding: 7px 5px 10px 5px;

}
.hhh{
    text-align: center;

}

p{
   font-weight: 300;
    font-family: sans-serif;
    padding: 7px 5px 10px 5px;
 
}